.idea
.ipynb_checkpoints
.mypy_cache
.vscode
__pycache__
.pytest_cache
htmlcov
dist
site
.coverage
coverage.xml
.netlify
test.db
log.txt
Pipfile.lock
env3.*
env
docs_build
docs.zip
archive.zip
build
logs
verified network
.env
.csv
.log
app/test_main.py
app/carrierp2p/hamburgsud.py
# vim temporary files
*~
.*.sw?
.terraform**
**terraform.tfstate**
test-redis-connec.py
